.button,
.disabled {
  background-color: #4285f4;
  width: 100%;
  padding: 10px;
  color: white;
  border-radius: 5px;
  border: none;
  border-style: none;
}
.button:hover {
  cursor: pointer;
}
.disabled {
  background-color: #a0a0a0;
}
